body {
    max-width: 1200px;
    height: 100%;
    box-sizing: border-box;
    margin: auto;
}

.header{

    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto 1fr auto;
    
}

.header__logo{

    max-width: 140px;
    max-height: 70px;

}

.header__links-list{

    display: flex;

}

.header_img{

    max-width: 18px;
    max-height: 18px;

}

.header__links-list-item{

    padding: 20px 16px 20px 16px;
    list-style: none;
    font-family: PT Sans;             /*Добавить шрифт*/
    font-size: 20px;
    font-weight: 700;

}

.header__conteiner{

    display: flex;
    align-items: center;

}

.header_img{

    margin: 22px 12px 22px 12px;

}

.header__button{

    display: flex;
    flex-wrap: nowrap;
    max-width: 160px;
    max-height: 36px;
    padding: 8px 34px 8px 34px;
    margin-left: 20px;
    background-color: #756157;
    border: 0;
    border-radius: 4px;
    align-items: center;
    font-family: PT Sans; 
    color: #FFFFFF;
    font-size: 16px;
    
    font-weight: 700;
    line-height: 20px;
    


}

.main-svg{

    margin-bottom: 11px;
    max-width: 187px;
    max-height: 44px;

}

.main{

    box-sizing: border-box;
    margin: auto;
    flex-grow: 1;
    max-width: 1200px;

}

.cover{

    display: flex;
    justify-content: center;
    width: 100%;
    background-image: url(../Image/sedona_!.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    position: relative;

}

.main__svg_logo{

    margin-bottom: 54px;
    max-width: 256px;
    max-height: 28px;

}

.menu__heder__article{

    display: grid;
    width: 100%;
    justify-items: center;
    margin: 51px auto 82px auto;

}

.cover__title{

    font-size: 110px;
    color:white;
    margin-bottom: 35px;

}

.cover__title-text{

    font-size: 30px;
    color:#FFFFFF;

}

.information__card{

    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 22px;
    text-align: center;
    margin: 69px 0 69px 0;
    min-width: 651px;

}

.information__card__title{

    font-size: 30px;
    font-weight: 700;
    max-width: 708px;
    line-height: 36px;
    margin-bottom: 25px;

}


.photo-1{

    max-width: 800px;
    max-height: 385px;
}
